@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: aqua;
  box-shadow: 5px 10px;
  padding: 20px 10px;
  border-radius: 10px;
  /* background: rgb(63, 94, 251); */
  background: linear-gradient(
    180deg,
    rgba(183, 246, 134, 0.995) 60%,
    rgba(232, 144, 56, 0.741)
  );
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.add_list,
.add_btn,
.delete_btn {
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
}

.add_list {
  border: 1px solid #ccc;
  margin-right: 5px;
  width: 30%;
}

.add_btn {
  background-color: rgb(73, 73, 235);
}

.add_btn,
.delete_btn {
  cursor: pointer;
  color: #e2e1e1;
  font-weight: 600;
  margin-right: 10px;
}
.delete_btn {
  background-color: #ff6666;
}

.delete_btn:hover {
  background-color: #ff6666c5;
}

.heading {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.list li {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list li button {
  border: none;
  color: #fff;
  background-color: rgb(127, 174, 255);
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: auto;
}

.list li button:hover {
  background-color: rgb(73, 73, 235);
  color: #fff;
  transition: 0.5s ease;
  cursor: pointer;
}

body {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    max-width: 500px;
  }
  .list {
    width: auto;
  }
  .list li {
    justify-content: center;
    gap: 10px;
  }

  .add_btn {
    font-weight: normal;
  }

  .input-container {
    flex-direction: column;
    gap: 10px;
  }

  .input-container .add_list {
    width: 50%;
  }
}
